<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ruoyi.chat.mapper.TaskManagementFileMapper">

    <resultMap id="TaskManagementFileResult" type="org.ruoyi.chat.domain.TaskManagementFile">
        <id property="id" column="id"/>
        <result property="taskId" column="task_id"/>
        <result property="name" column="name"/>
        <result property="relativePath" column="relative_path"/>
        <result property="url" column="url"/>
        <result property="size" column="size"/>
        <result property="type" column="type"/>
        <result property="fileCategory" column="file_category"/>
        <result property="uploadTime" column="upload_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectTaskManagementFileVo">
        select id, task_id, name, relative_path, url, size, type, file_category, 
               upload_time, create_by, create_time, update_time, del_flag
        from task_management_file
    </sql>

    <select id="selectFilesByTaskId" resultMap="TaskManagementFileResult">
        <include refid="selectTaskManagementFileVo"/>
        where task_id = #{taskId} 
        <if test="fileCategory != null and fileCategory != ''">
            and file_category = #{fileCategory}
        </if>
        and del_flag = '0'
        order by upload_time desc
    </select>

    <select id="selectFileById" parameterType="Long" resultMap="TaskManagementFileResult">
        <include refid="selectTaskManagementFileVo"/>
        where id = #{id} and del_flag = '0'
    </select>

    <insert id="batchInsertFiles">
        insert into task_management_file(task_id, name, relative_path, url, size, type, file_category, upload_time, create_time)
        values
        <foreach collection="files" item="file" separator=",">
            (#{file.taskId}, #{file.name}, #{file.relativePath}, #{file.url}, #{file.size}, #{file.type}, 
             #{file.fileCategory}, #{file.uploadTime}, sysdate())
        </foreach>
    </insert>

    <delete id="deleteFilesByTaskId" parameterType="Long">
        update task_management_file set del_flag = '1' where task_id = #{taskId}
    </delete>

</mapper>








