<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ruoyi.knowledge.curation.mapper.KnowledgeItemMapper">
    <select id="selectByItemUuid" resultType="org.ruoyi.knowledge.curation.domain.KnowledgeItem">
        SELECT *
        FROM knowledge_item
        WHERE item_uuid = #{itemUuid}
        LIMIT 1
    </select>

    <!-- 统计知识库下已发布/草稿状态的条目数（不含软删除），基于 knowledge_item_fragment N:M 中间表 -->
    <update id="updateKnowledgeItemCount">
        UPDATE knowledge_info
        SET item_count = (
            SELECT COUNT(*)
            FROM knowledge_item ki
            WHERE ki.kid = #{kid}
            AND ki.del_flag = '0'
        )
        WHERE kid = #{kid}
    </update>

    <!-- 统计知识库下有效片段数（不含软删除），基于 knowledge_item_fragment N:M 中间表 -->
    <update id="updateKnowledgeFragmentCount">
        UPDATE knowledge_info
        SET fragment_count = (
            SELECT COUNT(*)
            FROM knowledge_fragment kf
            WHERE kf.kid = #{kid}
            AND kf.del_flag = '0'
        )
        WHERE kid = #{kid}
    </update>

    <update id="updateKnowledgeDataSize">
        UPDATE knowledge_info
        SET data_size = #{dataSize}
        WHERE kid = #{kid}
    </update>
</mapper>
